.custom-img-size {
    width: 50px;
    height: auto; 
}
/* app.css */
/* app.css */
body {
    font-family: Arial, sans-serif;
}

.notification-badge {
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
}

.nav-pills .nav-link {
    color: white;
    font-size: 10.1rem; /* Increase text size by one step */
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #007bff;
}

#sidebar {
    background-color: #198754; /* Ensure sidebar is fully colored */
}

.nav-item .collapse {
    margin-left: 20px;
}

.sidebar-dropdown {
    margin-left: 20px;
}

#sidebar .nav-link {
    color: white; /* Ensure text color is white */
    font-size: 1.1rem; /* Increase text size by one step */
}

#sidebar .nav-link:hover {
    color: #ccc; /* Optional: Change text color on hover */
}
